body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #0f172a;
    color: white;
}

.container {
    padding: 20px;
}

.title {
    color: orange;
    margin-bottom: 15px;
}

.movie-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    gap: 15px;
}

.movie {
    background: #020617;
    border-radius: 8px;
    overflow: hidden;
    position: relative;
}

.movie img {
    width: 100%;
    height: 260px;
    object-fit: cover;
}

.movie span {
    position: absolute;
    top: 8px;
    left: 8px;
    background: orange;
    padding: 4px 8px;
    font-size: 12px;
    border-radius: 4px;
}

.movie p {
    padding: 8px;
    font-size: 14px;
}

.top {
    padding: 20px;
    background: #020617;
}

.top ul {
    list-style: none;
    padding: 0;
}

.top li {
    display: flex;
    gap: 10px;
    margin-bottom: 12px;
    align-items: center;
}

.top img {
    width: 50px;
    height: 70px;
    object-fit: cover;
    border-radius: 4px;
}

.star {
    color: gold;
}
.thumb {
    position: relative;
}

.play {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 50px;
    color: white;
    background: rgba(0,0,0,0.6);
    width: 80px;
    height: 80px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

    opacity: 0;
    transition: 0.3s;
    cursor: pointer;
}

.movie:hover .play {
    opacity: 1;
}

.movie img {
    transition: 0.3s;
}

.movie:hover img {
    filter: brightness(0.6);
}

.tag {
    position: absolute;
    top: 8px;
    left: 8px;
    background: #c08457;
    padding: 4px 8px;
    font-size: 12px;
    border-radius: 4px;
    z-index: 2;
}
.watch-container {
    padding: 20px;
    max-width: 900px;
    margin: auto;
}

.video-box video {
    width: 100%;
    border-radius: 12px;
    background: black;
}

.back {
    display: inline-block;
    margin-top: 15px;
    color: orange;
    text-decoration: none;
}
/* ===== HEADER ===== */
.header {
    background: #2b2b2b;
}

.header-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 20px;
}

.logo {
    font-weight: bold;
    color: #f59e0b;
}

.logo-main {
    font-size: 28px;
}

.logo-sub {
    display: block;
    font-size: 12px;
    color: #ddd;
    letter-spacing: 2px;
}

.search-box {
    display: flex;
    width: 40%;
}

.search-box input {
    flex: 1;
    padding: 8px 12px;
    border: none;
    outline: none;
    font-size: 14px;
}

.search-box button {
    padding: 8px 15px;
    border: none;
    background: #f59e0b;
    cursor: pointer;
    font-size: 16px;
}

.user-menu a {
    color: white;
    margin-left: 15px;
    font-size: 14px;
    text-decoration: none;
}

.user-menu a:hover {
    color: #f59e0b;
}

/* ===== MENU ===== */
.nav {
    display: flex;
    gap: 25px;
    padding: 12px 20px;
    background: #1f1f1f;
}

.nav a {
    color: white;
text-decoration: none;
    font-size: 14px;
}

.nav a:hover {
    color: #f59e0b;
    border-bottom: 2px solid #f59e0b;
}
.dropdown {
    position: relative;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    background: #2b2b2b;
    padding: 15px;
    display: none;
    grid-template-columns: repeat(5, 1fr);
    gap: 12px;
    width: 600px;
    z-index: 999;
}

.dropdown:hover .dropdown-menu {
    display: grid;
}

.dropdown-menu span {
    color: white;
    cursor: pointer;
    font-size: 14px;
}

.dropdown-menu span:hover {
    color: #f59e0b;
}
.user-menu span {
    margin-right: 10px;
    font-weight: bold;
    color: #f59e0b;
}

.user-menu a {
    color: white;
    text-decoration: none;
    margin-left: 10px;
}

.user-menu a:hover {
    color: #f59e0b;
}